<header class="index-header">
    <div class="heading">
        <h1 class="heading-title">{{ website_name() }}</h1>
        <p class="lead text-center">{{ website_description() }}</p>
    </div>
    <div class="mb-5">
        {{ include('includes/_search.html.twig') }}
    </div>
    <div class="img-header-left"></div>
    <div class="img-header-right"></div>
</header>