<header class="bg-default p-5 text-white index-header">
    <div class="container">
        <div class="heading">
            <h1 class="heading-title">{{ website_name() }}</h1>
            <p class="lead text-center">{{ website_description() }}</p>
        </div>
        {{ include('home/_links.html.twig') }}
        <div class="mt-5 mb-4">
            {{ include('includes/_search.html.twig') }}
        </div>
    </div>
</header>