{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="bg-default p-5 text-white">
        <div class="container">
            <div class="heading">
                <h1 class="heading-title">Wikima</h1>
                <p class="lead text-center">Lead volutpat nibh ligula gravida. Magna auctor eget.</p>
            </div>
            <form action="" method="GET" class="mt-5 mb-4">
                <div class="search-row">
                    <input type="text" name="search" id="search" class="form-control rounded-pill" placeholder="Recherche...">
                    <button type="submit" class="search-btn"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </header>
    <article class="container mt-5">
        <div class="text-center">
            <p>
                Wikima a <span class="fw-bold">6</span> catégories, 
                <span class="fw-bold">12</span> portails et 
                <span class="fw-bold">54</span> articles.
            </p>
            <p>
                Ses membres ont importé <span class="fw-bold">13</span> fichiers multimédias.
            </p>
        </div>
    </article>


{% endblock %}
