{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   {{ include('home/_header.html.twig') }}
    <article class="container mt-5">
        <aside class="text-center">
            <p>
                Wikima a <span class="fw-bold">6</span> catégories, 
                <span class="fw-bold">12</span> portails et 
                <span class="fw-bold">54</span> articles.
            </p>
            <p>
                Ses membres ont importé <span class="fw-bold">13</span> fichiers multimédias.
            </p>
        </aside>
        
        <h2 class="list-title">Catégories</h2>
        <p class="text-center text-muted fs-5 mb-4">Explorer l'une des catégories disponibles sur le site</p>

        <section class="row border-bottom pb-5">
            {% for row in range(0, 6) %}
                <div class="col-md-6 col-lg-4 my-3">
                    <a href="{{ path('app_category', {slug:"lorem-ipsum"}) }}" class="category-link">
                        Lorem Ipsum
                    </a>
                </div>
            {% endfor %}
        </section>
    </article>

    <article class="container my-5">
        <h2 class="mb-5">Articles récents</h2>

        <div class="row gx-5">
            {% for row in range(0, 5) %}
                <div class="col-md-6">
                    <p class="article-link">
                        <a href="{{ path('app_article', {slug:"consectetur-adipiscing"}) }}">
                            Consectetur adipiscing elit sed do eiusmod
                        </a>
                        <i class="bi bi-chevron-right fw-bold"></i>
                    </p>
                </div>
            {% endfor %}
        </div>
    </article>


{% endblock %}
