<td class="sonata-ba-list-field sonata-ba-list-field-string" objectid="8">
    <a class="sonata-link-identifier" href="{{ admin.generateObjectUrl('section', object) }}">
        {{ object.title }}
    </a>
</td>