{% extends 'base.html.twig' %}

{% block title %}Editer un commentaire{% endblock %}

<article class="mx-5">
    <h3 class="h4 mb-4">Editer un commentaire</h3>
    {{ include('comment/_form.html.twig') }}
</article>