{% extends 'base.html.twig' %}

{% block title %}Editer les information d'une image{% endblock %}

{% block body %}
    <header class="bg-default-light border-bottom">
        <div class="py-4">
            <div class="item-heading d-flex justify-content-between align-items-center">
                <h1 class="mb-1"><i class="bi bi-image me-1"></i> Editer les information d'une image</h1>
                <a href="{{ path('app_edit_image_index') }}" class="btn btn-outline-primary">
                    Retour à l'index
                </a>                
            </div>
        </div>
    </header>

    {{ include('components/layout/_editor_form.html.twig', {button_label: 'Editer'}) }}
{% endblock %}