{% extends 'base.html.twig' %}
{% block activePerson %}active
{% endblock %}

{% block title %}
	Index des personnages
{% endblock %}

{% block body %}
	{{ include('home/_header.html.twig', { heading_title: 'Personnages', heading_description: "Liste des personnages importants" }) }}
	<section class="mt-5 container-fluid">
		<h2 class="display-4 mb-4">Consulter la liste des personnages</h2>

		<div class="row my-4">
			{% for person in persons %}
				<div class="col-md-4 col-lg-3 my-2">
					{% include "person/_person_card.html.twig" %}
				</div>
			{% else %}
				<div class="col-12">
					<div class="alert alert-danger">Aucun personnage trouvé</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
