{% extends 'base.html.twig' %}

{% block title %}Index des articles{% endblock %}

{% block body %}
   {{ include('home/_header.html.twig') }}
    <article class="container my-5">
        <h2 class="list-title">Les articles</h2>
        <p class="text-center text-muted fs-5 mb-4">Explorer les articles disponibles sur le site</p>

        {{ include('components/layout/_row_link_list.html.twig', {path: 'app_article', items: articles}) }}

        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </article>


{% endblock %}
