{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<article>
    <header class="pt-4 bg-item header-item border-bottom">
       {{ include('components/article/_header.html.twig') }}
    </header>

    <section class="container py-5 px-4">
        <div class="article-content">
            {{ article.content }}
        </div>
    </section>
</article>
{% endblock %}
