{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} | Article{% endblock %}

{% block description %}{{ article.description }}{% endblock %}

{% block body %}
<article>
    <header class="pt-4 bg-item header-item border-bottom">
       {{ include('article/components/_header.html.twig', {reading:true}) }}
    </header>

    <section class="container py-5 px-4">
        <div class="article-content">
            {{ article.content|nl2br }}
        </div>
    </section>
</article>
{% endblock %}
