{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <header class="bg-default p-5 text-white index-header">
    <div class="container">
        <div class="heading">
            <h1 class="heading-title">Profil</h1>
            <p class="lead text-center">Bienvenue sur votre profil où vous pourrez modifier vos informations.</p>
        </div>
    </div>
</header>
<section class="container my-5">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
</section>

{% endblock %}
