{% extends 'base.html.twig' %}

{% block title %}Liste des chronologies{% endblock %}

{% block body %}
    {{ include('home/_header.html.twig') }}
    <article class="my-5 px-5 container-fluid">
        <h2 class="list-title">Liste des chronologies</h2>
        {{ include('components/layout/_row_link_list.html.twig', {path: 'app_timeline_show', items: timelines}) }}
        <div class="navigation">
            {{ knp_pagination_render(timelines) }}
        </div>
    </article>
{% endblock %}
